* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: Calibri, sans-serif;
    font-weight: 300;
  }
  
  .div-horizontal {
    width: 100%;
    text-align: center;
  }

  .first {
    height: 50vh;
    background-image: url('img/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  .first h1 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .first h2 {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }

  .second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .feedback-container h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }

  .image-container {
    position: relative;
    width: calc(33.33% - 10px); /* reducir el tamaño del contenedor y agregar un margen de 10px */
    margin-right: 10px; /* agregar un margen derecho de 10px */
    height: 150px; /* altura reducida */
    overflow: hidden;
  }
  
  .image-container:last-child {
    margin-right: 0; /* eliminar el margen derecho del último elemento */
  }
  
  .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }

  .feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(60, 141, 218) ;
    color: white;
    font-family: Calibri;
    height: 100px;
  }
  
  .feedback-container h3 {
    margin: 0;
  }
  
  .feedback-container h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }

  .feedback-container .feedback-text {
    text-align: center;
  }
  
  .feedback-container .feedback-text p {
    font-size: 0.8rem;
    margin: 5px 0 0 0;
  }
  .feedback-container .feedback-text p {
    font-size: 0.8rem;
    margin: 5px 0 0 0;
  }

  .split-container {
    display: flex;
    width: 100%;
  }

  .text-side,
  .image-side {
    width: 50%;
    padding: 1rem;
  }

  .image-side img {
    width: 100%;
    height: auto;
  }

  .text-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Cambiar a 'flex-start' para mover el contenido hacia arriba */
    align-items: flex-start;
    text-align: justify;
    padding: 2rem; /* Ajustar el espacio alrededor si es necesario */
  }

  .text-side h3 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  .text-side p {
    font-size: 1.6rem;
    max-width: 90%; /* Ajustar el ancho máximo del párrafo si es necesario */
    margin-bottom: 1rem;
  }

  .text-side ul {
    list-style-type: none;
    padding: 0;
  }

  .text-side ul li {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.5); /* Fondo grisáceo transparente */
    padding: 2rem;
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
  }

  .footer h4 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-bottom: 0.5rem;
  }

  .footer ul {
    list-style-type: none;
    padding: 0;
  }

  .footer ul li {
    font-size: 1rem;
    color: white;
    margin-bottom: 0.5rem;
  }

  .footer p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }
  .black-footer {
    background-color: black;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .black-footer p {
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }